* {
  box-sizing: border-box;
  // font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../../resources/img/basketball1.jpg");
  background-size: cover;
  background-repeat:repeat-y;
  width: 100vw;
  height: 100vh;
}
.header {
  margin: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid chartreuse;
  h1 {
    color: white;
    letter-spacing: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      color: lighten(yellow, 30%);
    }
  }
  .nav {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 40%;
    li {
      color: white;
      font-size: 1.5rem;
      padding: 1rem;
      transition: all 0.2s ease-in-out;
      border-bottom: 4px solid rgba(0, 0, 0, 0);
      &:hover {
        cursor: pointer;
        color: lighten(yellow, 30%);
        border-bottom: 4px solid lighten(yellow, 30%);
        // background-color: lighten(yellow, 30%);
        padding: 1rem;
      }
    }
  }
}

.selected {
  color: darken(#22bdf0, 25%);
  // background-color: lighten(salmon, 10%);
  font-style: italic;

}
meal-list {
  display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
}

.add-meal-filter-select{
  border: 4px solid white;
  padding: 2rem;
  width: 40%;
  margin: 0 1rem 1rem 0;
  new-meal {

  }
  .select-calorie-filter {
    margin: 3rem 0 0 0;
    border-top: 4px solid white;
    h4 {
      color: white;
      margin: 2rem 0 1rem 0;
    }
    select {
      width: 100%;
    }
    option {

    }
  }
}

.add-meal {

  h4 {
    color: white;
    margin: 0 0 1rem 0;
  }
  .add-meal-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-add-meal {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 0 1rem 0;
      padding: 0 0 0 1rem;
      border: none;
      border-bottom: 2px solid white;
      background: rgba(0, 0, 0, 0);
      color: lighten(yellow, 30%);
      font-weight: bolder;
      // border: 1px solid chartreuse;
    }
    ::-webkit-input-placeholder {
      font-weight: bolder;
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-weight: bolder;
      color: white;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      font-weight: bolder;
      color: white;
    }
    :-ms-input-placeholder {
      font-weight: bolder;
      color: white;
    }
  }
  button {
    background: rgba(0, 0, 0, 0);
    border: 4px solid white;
    margin: 0 0 0 1rem;
    padding: 0.6rem 2rem;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: darken(yellow, 30%);
      background-color: lighten(yellow, 30%);
    }
  }
}



meal-display {
  color: darken(yellow, 30%);
  background-color: lighten(yellow, 30%);
  margin: 1rem 0 0 0;
  padding: 1rem;
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
  }
}
.meal-cards {
  padding: 2rem;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
}

.edit-meal {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .edit-meal-output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid green;
    width: 48%;
    button {
      background: rgba(0, 0, 0, 0);
      border: 4px solid darken(yellow, 30%);
      // padding: 0.6rem 2rem;
      color: darken(yellow, 30%);
      font-weight: bolder;
      letter-spacing: 0.3rem;
      transition: all 0.2s ease-in-out;
      width: 50%;
      &:hover {
        color: darken(yellow, 30%);
        background-color: white;
      }
  }
}
  .edit-meal-inputs {
    display: flex;
    flex-direction: column;
    // border: 1px solid green;
    width: 48%;
    .meal-form {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        margin: 0 0 1rem 0;
        padding: 0 0 0 1rem;
        border: none;
        border-bottom: 2px solid darken(yellow, 30%);
        // color: darken(yellow, 30%);
        background: darken(yellow, 30%);
        color: lighten(yellow, 30%);
        font-weight: bolder;
      }
    }
  }
}
